body {
  background-color: lightgray;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 462px;
}

.button-box {
  background-color: white;
  border: solid 2px black;
  display: inline-block;
  height: 150px;
  text-align: center;
  vertical-align: bottom;
  width: 150px;
}

.button-box img {
  height: 150px;
  width: 150px;
}

.game-board {
  border: solid 2px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 462px;
}

.game-container {
  background-color: orange;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 600px;
}

h1 {
  color: white;
  font-size: 48px;
  text-align: center;
}

p {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
